<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Tic Tac Toe Game</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
    </head>
    <body>
        <div id="menu">
            <h1>Tic Tac Toe</h1>
            <div id="stripe" style="display:none;">
                <span>Turn: <span id="player">O</span></span>
                <span id="result"></span>
                <span id="status"></span>
                <button id="again">Play Again?<span id="vote"><span id="votes">0</span>/<span id="userCount">1</span></span></button>
            </div>
        </div>
        <div id="login">
           <h1>Room ID</h1> 
           <input type="text" id="room"/>
        </div>
        <div id="TicTacToe" style="display:none;">
            <button id="0">&nbsp;</button>
            <button id="1">&nbsp;</button>
            <button id="2">&nbsp;</button>
            <button id="3">&nbsp;</button>
            <button id="4">&nbsp;</button>
            <button id="5">&nbsp;</button>
            <button id="6">&nbsp;</button>
            <button id="7">&nbsp;</button>
            <button id="8">&nbsp;</button>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script charset="utf-8" src="/js/game.js">
        </script>
    </body>
</html>
